body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}
h1{ 
    text-align: center;
}
header {
    font-family: 'Courier New', Courier, monospace;
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
nav ul li a {
    text-decoration: none;
    color: #fff;
}
main {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* For Tables */
table {
    border-collapse: collapse;
    width: 90%;
    margin: 20px auto;
    font-family: Verdana, sans-serif;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

/* For Search */
.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#searchInput {
    width: 400px; /* Adjust the width as needed */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

/* For Main page */
#loginForm{
    text-align: center;
}

#welcome-page, #error-page{
    text-align: center;
    list-style-type: none;
}

#username, #password{
    width: 200px; /* Adjust the width as needed */
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

#links {
    list-style-type: none;
    padding: 0;
}

#links a {
    text-decoration: none;
    color: #007bff;
    margin-right: 10px;
}
